@import url('../../dojox/mobile/themes/iphone/iphone.css')
@import 'nib'

.floatCenter
  float center

.tabBarBottom
  border-bottom none

li
  &.blue
    background-color blue
  &.brown
    background-color brown
  &.green
    background-color green
  &.orange
    background-color orange
  &.purple
    background-color purple
  &.red
    background-color red
  &.yellow
    background-color yellow
  &.grey
    background-color grey
  &.blue
  &.brown
  &.green
  &.purple
  &.red
  &.grey
    color white
    .mblListItemRightText
      color white